/*
 * AzureCSS Framework version 1.5.16 (Alpha Version)
 * Editor Style (edit file)
 * Author: GroupMediaVegarus
 * Mail: group@vegarus.su
 * Site: https://group.vegarus.su/azurecss
 * MIT License
 * All right reversed
 * Copyright 2021
 * Powered by GroupMediaVegarus
 */
.mini-inform {
  height: 36px !important;
  background-color: color_get(primary, 1);
  color: #FFFFFF;
}
.mini-inform > .row {
  margin: 0 8px;
  height: 100%;
}
.mini-inform > .row > [class^=col-] {
  line-height: 36px;
  text-align: center;
}
.mini-inform > .row > [class^=col-] + [class^=col-] {
  margin-left: 1px;
}
.mini-inform > .row > [class^=col-] + [class^=col-]::before {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #FFFFFF;
  position: absolute;
  top: 6px;
  left: -1px;
}
.mini-inform a {
  transition: background ease-in-out 0.25s;
  color: #FFFFFF;
}
.mini-inform a:hover {
  transition: background ease-in-out 0.25s;
  background-color: color_get(primary, 4);
}
.mini-inform .icon {
  line-height: 36px;
  font-size: 1.5em;
  text-align: center;
}
.mini-inform .clock::before {
  font-family: FontAwesome;
  content: "\f017";
  padding-right: 4px;
  font-size: 1.125em;
}
.mini-inform .probki .indicator {
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.mini-inform .probki .indicator.yellow {
  background-image: url(/images/probki/yellow.png);
}
.mini-inform .probki .ball_count {
  font-size: 1.75em;
}