@function calc_sum_size($size, $padding) {
    @return $size + $padding;
}


@function nth_index_map($map, $nth) {
    $return: None;

    @if $nth == 'all' {
        $return: $map;
    }
    @else {
        $return: ();
        @each $start, $end in $nth {
            @for $i from $start through $end {
                $return: append($return, nth($map, $i));
            }
        }
    }
    
    @return $return;
}

@function get_font() {
    $safe_font_family: map-get($maps, 'safe_font_family');
    $return: $safe_font_family;
    @if length($font_family) != 0 {
        $return: $font_family + ', ' + $safe_font_family;
    }

    @return $return;
}

@function get_maps_color($name_key) {
    $get_maps: map-get($maps, 'colors');
    @return map-get($get_maps, $name_key);
}
