@mixin create_laoyut_col($property, $num, $count, $sum: false) {
    &#{$num} {
        @if $sum {
            #{$property}: calc($num * 100% / $count);
        }
        @else {
            #{$property}: $num;
        }
    }
}


@mixin generate_map($key, $property, $nth) {
    $map_get: map-get($maps, $key);
    $map: nth_index_map($map-get, $nth);

    @each $key, $value in $map {
        &_#{$key} {
           #{$property}: #{$value};
        }
    }
}

@mixin get_for_color_scheme($property) {
    @each $prefix, $colors in $color_scheme {
        $index_count: 0;
        $prefix: nth($prefix, 2);
        &_#{$prefix} {
            $colors: nth($colors, 2);
            @each $color in $colors {
                $index_count: $index_count + 1;
                &_#{$index_count} {
                    #{$property}: #{$color};
                }
            }
        }
    }
}

@mixin get_nth_color_scheme($property) {
    @each $prefix, $colors in $color_scheme {
        $index_count: 0;
        $prefix: nth($prefix, 2);
        &_#{$prefix} {
            $colors: nth($colors, 2);
            @each $color in $colors {
                $index_count: $index_count + 1;
                &_#{$index_count} {
                    #{$property}: #{$color};
                }
            }
        }
    }
}