@mixin sum_column($attr, $count) {
    @for $i from 1 through $col_count {
        @if $count == true {
            &_#{$i} { #{$attr}: $i; }
        } @else {
            &_#{$i} { #{$attr}: calc((100%*$i)/$col_count); }
        }
    }
}

@mixin setup_class($var_array) {
    $name_pos: map-get($var_array, 'name_attr');
    $attr_pos: map-get($var_array, 'array');

    @each $name, $attr, $pos in $name_pos {
        @each $stend in $pos {
            .#{$name}_ {
                @for $i from nth($stend, 1) through nth($stend, 2) {
                    &#{nth(nth($attr_pos, $i), 1)} {
                        #{$attr}: #{nth(nth($attr_pos, $i), 2)};
                    }
                }
            }
        }
    }
}

@mixin get_or_set_styles($style_array, $var_array) {
    $keys: (map-keys($style_array), map-keys($var_array));
    $symbol_style: find_symbol_and_class(($style_array, $var_array));
    $nosymbol_style: find_nosymbol_and_class(($style_array, $var_array));

    content: '#{$keys}';
}


@mixin set_attr($attrs) {
    @each $attr, $val in $attrs {
        #{$attr}: $val;
    }
}