$import_font_family: ('Fira Sans',);

$col_count: 15;

$device_width:(
    'sm': 576px,
    'ms': 768px,
    'lg': 1024px,
    'xl': 1280px,
);

$colors: ();

$navbar_style:('default': ('background': red,),);
$button_style:();
