$version_date: (2024, 3, 14);
$major: 1;
$minor: 1;
$milestone: 1;
$revision: 1403;
$build: 2;


/*
 * AzureCSS Framework version #{(get_version())}
 *
 * CSS generated via SCSS
 *
 * Author: GroupMediaVegarus
 * Mail: group@vegarus.su
 * Site: https://vegarus.su/azurecss
 * MIT License
 * All right reversed
 * Copyright 2013-#{get_year()}
 * Powered by GroupMediaVegarus
 */
