$major: 1;
$minor: 1;
$month: 11;
$day: 12;

/*
 * AzureCSS Framework version #{$major}.#{$minor}.#{$month}.#{$day} /
 *
 * Import CSS file without SCSS generation
 *
 * Author: GroupMediaVegarus
 * Mail: group@vegarus.su
 * Site: https://vegarus.su/softs/azurecss
 * MIT License
 * All right reversed
 * Copyright 2013-2024
 * Powered by GroupMediaVegarus
 */
