/*      FLEX          */
%displayflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@if map-get($components_l, 'flex') == true {
    .d_flex { @extend %displayflex; }

    [class^=flex_] {
        flex-grow: 0;
        flex-shrink: 0;
        min-height: 1px;
        position: relative;
    }

    .flex {
        @include sum_column('flex', false);

        &_row_revers { flex-direction: row-reverse; }
        &_column_revers { flex-direction: column-reverse; }
        &_column { flex-direction: column; }

        &_nowrap { flex-wrap: nowrap; }
        &_wrap_revers { flex-wrap: wrap-reverse; }

        &_grow_auto { flex: 1 0 auto; }
        &_grow { flex-grow: 1; }
        &_shrink_auto { flex: 0 1 auto; }
        &_shrink { flex-shrink: 1; }
        &_auto { flex: 0 0 auto; }
        &_fix { flex: 0 0 1; }
    }

    .order {
        @include sum_column('order', true);
    }

    @include setup_class($array_flex);
}
/*  --  FLEX END  --  */