/*    NAVBAR        */
@if map-get($components_l, 'navbar') == true {
    // %global_navbar_color {
        // @include get_or_set_style($navbar_style, 'default', true);
    // }

    .navbar {
        @extend %displayflex;
        // @extend %global_navbar_color;
        @include get_or_set_styles($navbar_style, $array_navbar);

        &_logo {
            line-height: 1.5;
            font-size: 1.5rem;
            color: #FFFFFF;
            height: 100%;

            img {
                display: inline-block;
                vertical-align: top;
                height: 100%;
            }
        }

        &_burger {
            @extend %buttonreset;
            display: none !important;
        }

        &_nav {
            @extend %displayflex;
        }

        .nav_link {
            // @extend %global_navbar_color;
        }
    }
}
/* -- NAVBAR END -- */